@media (min-width: 576px) and (max-width: 768px){

.navbar{
    padding: 0;
    max-width: 1440px;
    margin: auto;
}
.navbar ul>li.nav-item{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 133px;
    /*height: 100px;*/
}
.navbar ul>li.nav-item a{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}
.navbar ul{
	margin: auto;
    align-items: center;
    margin-bottom: 75px;
}

.navbar ul>li.brand{   
	display: none;
}
.navbar ul>li.nav-item a.navbar-brand{
	margin-right: 0px;
}
.navbar ul>li.nav-item a.navbar-brand img{
}

section#head{
	height:800px;
	background-image: url('../img/header-bg.png');
}

section#head .main-head{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    order: -1;
    margin-top: 100px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
section#head .container{
	max-width: 1440px;
}
section#head .vert-text{
	height: inherit;
	width: 	inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#head .vert-text span{
	writing-mode: unset;
    transform: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}

section#head .main-head .title{
	display: flex;
    flex-direction: column;
    align-items: center;
    height: 153px;
}

section#head .main-head span{
	 font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
}

section#head .main-head .link-button{
	display: flex;
    flex-direction: row;
}
section#head .main-head h1{
	font-family: Banny;
    font-size: 40px;
/*    line-height: 0px;*/    
	display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
section#head .main-head h1:before{
	content: none;
}
section#head .main-head .link-button a{
	height: 60px;
	width: 200px;
	font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 30px;
    margin: 0px 20px 0px 20px;
}
section#head .main-head .link-button a:hover{
	background: #E8C300;
}

section#head .down{
	margin-top: 45px;
    margin-bottom: 45px;
}

section#head .social{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
}
section#head .social ul{
	padding-left: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
section#head .social ul li{
	margin-bottom: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
section#head .social ul li a{
	color: #fff;
}
section#head .row{
	flex-direction: column;
    align-items: center;
}

section#about	.description .title{
	font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #000000;
	}
section#about	.description .title:before{
		content: '';
	    position: absolute;
	    /*bottom: -10px;*/
	    top: 150px;
	    width: 60px;
	    height: 5px;
	    border-radius: 5px;
	    background-color: #E8C300;
	    left: calc(50% - 30px);
	}

section#about	.description{
		align-items: center;
	    justify-content: center;
	    flex-direction: column;
	    display: flex;
	}
section#about	.description .wrapper{
		margin-top: 100px;
	    align-items: center;
	    display: flex;
	    flex-direction: column;}

section#about	.description .wrapper p{
		text-align: center;
		font-family: Open Sans;
	    font-style: normal;
	}

section#about	.description .wrapper .strong{
		font-family: Open Sans;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 18px;
	    line-height: 28px;
	    display: flex;
	    align-items: flex-end;
	    text-align: center;
	    color: #000000;
	    margin-bottom: 25px;
	}


section#about	.img_wrapper{
		justify-content: center;
    	display: flex;
	}
section#about	.img_wrapper:before{
		content: none;
	}


section.our_team h2{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.our_team{
	padding-bottom: 100px;
	background-image: url('../img/src/our-team-bg.png');
	background-repeat: no-repeat;
    background-size: cover;
}
section.our_team .title{
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 36px;
	line-height: 48px;
}
section.our_team .title:before{
	content: '';
	position: absolute;
	bottom: -10px;
	width: 60px;
	height: 5px;
	border-radius: 5px;
	background-color: #E8C300;
	left: calc(50% - 30px);

}
section.our_team .img_wrapper{
	position: relative;
	display: flex;
    justify-content: center;
}
section.our_team .img_wrapper:before{
	content: none;
}
section.our_team .wrapper{
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
}
section.our_team p{
	color: #fff;
	text-align: center;
}
section.our_team p.strong{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}

section.our_team .title:before{
	content: '';
	position: absolute;
	bottom: -10px;
	width: 60px;
	height: 5px;
	border-radius: 5px;
	background-color: #E8C300;
	left: calc(50% - 30px);
}

section.cook_a_table{
	margin-top: 100px;
}
section.cook_a_table .img_wrapper{
	display: none;
}
section.cook_a_table .img_wrapper:before{
	content: none;
}
section.cook_a_table .wrapper .title{
	font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border-radius: 5px;
}
section.cook_a_table .wrapper {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.cook_a_table .wrapper .title:before{
	content: '';
	position: absolute;
	margin-top: 50px;
	width: 60px;
	height: 5px;
	border-radius: 5px;
	background-color: #E8C300;
	left: calc(50% - 30px);

}
section.cook_a_table .wrapper form{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section.cook_a_table .wrapper .input_wrapper select{
	padding-right: 20px;
}
section.cook_a_table .wrapper .input_wrapper input, select{
	width: 277px;
    height: 60px;
    background: #E5E5E5;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
}
section.cook_a_table .wrapper .input_wrapper input, select:nth-child(odd){
	margin-bottom: 10px;
	margin-right: 10px;
}
section.cook_a_table .wrapper  button{
	border: none;
	height: 60px;
    width: 60%;
    background: #E8C300;
    border-radius: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

section.cook_a_table .wrap_schedule .bold{
	font-weight: bold;
}

section.cook_a_table .wrap_schedule{
	width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

section.cook_a_table .wrap_schedule p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	display: flex;
	align-items: center;
	text-align: center;
	color: rgba(51, 51, 51, 0.5);
	margin-bottom: 0px;
}


section#specialties{
	padding-bottom: 100px
}
section#specialties h2{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#specialties{
	background-image: url('../img/specialty-bg.png');
	background-repeat: no-repeat;
    background-size: cover;
}
section#specialties .title{
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 36px;
	line-height: 48px;
	text-transform: uppercase;
}
section#specialties .title:before{
	content: '';
	position: absolute;
	bottom: -10px;
	width: 60px;
	height: 5px;
	border-radius: 5px;
	background-color: #E8C300;
	left: calc(50% - 30px);

}
section#specialties .img_wrapper{
	position: relative;
	display: flex;
    justify-content: center;
}
section#specialties .img_wrapper:before{
	content: none;
}
section#specialties .wrapper{
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
}
section#specialties p{
	color: #fff;
	text-align: center;
}
section#specialties p.strong{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}

section#specialties .title:before{
	content: '';
	position: absolute;
	bottom: -10px;
	width: 60px;
	height: 5px;
	border-radius: 5px;
	background-color: #E8C300;
	left: calc(50% - 30px);
}

section#delicious_menu{
	margin-top: 100px;
}

section#delicious_menu h2{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#delicious_menu .title{
	position: relative;
	text-align: center;
	color: #000;
	font-size: 36px;
	line-height: 48px;
	text-transform: uppercase;
}
section#delicious_menu .title:before{
	content: '';
	position: absolute;
	bottom: -10px;
	width: 60px;
	height: 5px;
	border-radius: 5px;
	background-color: #E8C300;
	left: calc(50% - 30px);
}
section#delicious_menu .wrapper{
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
section#delicious_menu .wrapper p{
	color: #000;
	text-align: center;
}
section#delicious_menu .wrapper p.strong{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	margin-top: 10px;
}

.tab-content .title_menu:before{
	content: 'Integer ullamcorper neque eu purus euismod';
	font-family: Open Sans;
	margin-top: 15px;
	position: absolute;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
}
.wrap_tab{
	display: flex;
    flex-direction: column;
    width: 100%;
}
.nav-tabs.mb-3{
	justify-content: center;
	border-bottom: none;
}
.nav-tabs .nav-link{
	height: 50px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #333333;
}
.nav-tabs .nav-link.active{
	border-top:none;
}
.tab-content .wrap{
	width: 363px;
    height: 66px;
    font-family: Banny;
    font-size: 18px;
    line-height: 18px;
    color: #333333;
}
.tab-content{
	margin-top: 51px;
}
.tab-content .list{
	margin: auto;
    width: max-content;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}
section#event{
	overflow: hidden;
}
section#event h2{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #fff;
	padding: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#event .img_wrapper_2{
	display: flex;
    flex-direction: row;
    justify-content: center;
}
section#event .img_wrapper_1{
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}

section#event .img_wrapper_1 p{
	writing-mode: horizontal-tb;
    transform: rotate(90deg);
    font-family: Banny;
    font-size: 24px;
    line-height: 12px;
    display: flex;
/*    justify-items: self-start;*/    
	align-items: center;
    text-indent: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 80px;
    height: 475px;
    margin-left: -10px;
    margin-top: -200px;
}

section#event .img_wrapper_2 p{
	writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: Banny;
    font-size: 24px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-indent: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
section#event .img_wrapper_1:before{
	content: none;
}

section#event .img_wrapper_2:before{
	content: none;
}
section#event{
	background-image: url('../img/specialty-bg.png');
	background-repeat: no-repeat;
    background-size: cover;
}


section#event .wrap_schedule .bold{
	font-weight: bold;
}

section#event .wrap_schedule{
	width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

section#event .wrap_schedule p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	display: flex;
	align-items: center;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 0px;

}
section#event .img_wrap{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section#event .img_wrap img{
	width: 25%;
}

section#contact {
	margin-top: 50px;
	margin-bottom: 100px;
}

section#contact .title:before{
	content: '';
	position: absolute;
	top: 48px;
	width: 60px;
	height: 5px;
	border-radius: 5px;
	background-color: #E8C300;
	left: calc(50% - 30px);
}
section#contact .wrapper{
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
section#contact .wrapper p{
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border-radius: 5px;
}
section#contact .wrapper p.strong{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}

section#contact .cont_wrap {
	margin-top: 50px;
}
section#contact .cont_wrap form{
	display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
}
section#contact .cont_wrap form .input_wrapper{
	width: calc((100% - 20px)/3);
    height: 60px;
    margin-bottom: 10px;
}
section#contact .cont_wrap form .input_wrapper input{
	width: 100%;
    height: 60px;
    border: none;
    padding-left: 20px;
    background: #E5E5E5;
}
section#contact .cont_wrap form .input_wrapper_area{
	width: 100%;
}
section#contact .cont_wrap form .input_wrapper_area textarea{
	width: 100%;
	border: none;
    padding-left: 20px;
    padding-top: 15px;
    background: #E5E5E5;
}
section#contact .cont_wrap form button{
	width: 100%;
	margin-top: 10px;
    background: #E8C300;
    border-radius: 5px;
    height: 60px;
    color: white;
    border: navajowhite;
}
section#contact .cont_wrap form .input_wrapper_cont{
	align-self: center;
	font-style: normal;
	font-size: 14px;
	line-height: 14px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	width: 100%;
    justify-content: center;
}
section#contact .cont_wrap form .input_wrapper_cont span{
	margin-right: 15px;
}
section#contact .cont_wrap form .fas:before{
	margin-right: 5px;
    color: #E8C300;
}

section#map .mapouter{
	width: inherit;
}
section#map .mapouter .gmap_canvas{
	width: inherit;
}

footer {
	height: 100px;
    background: black;
}
footer .container, .row{
    height: inherit;
}
footer .wrap{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    display: flex;

}
}